<app-nav-bar></app-nav-bar>

<main class="container">
    <div class="tabs is-toggle is-fullwidth">
        <ul>
          <li>
            <a>
              <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
              <span (click)="OpenTeoria()">Teoría</span>
            </a>
          </li>
          <li class="is-active">
            <a>
              <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
              <span>Exercicis</span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
              <span (click)="OpenCalc()">Calculadora</span>
            </a>
          </li>
        </ul>
      </div>
     
      <section class="section">
        <div class="content">
            <h1>Ejercicios</h1>
            <br>
            <p>Las ecuaciones de segundo grado son aquellas en las que la incógnita aparece elevada al cuadrado. De la forma general :</p>
            <ul>
                <li><strong>x<sup>2</sup>+2x+15=0 </strong></li>
                <li><strong>12x<sup>2</sup>-x-1=0 </strong></li>
                <li><strong>x<sup>2</sup>-4x+1=0 </strong></li>
                <li><strong>x<sup>2</sup>+5x+6=0 </strong></li>
                <li><strong>4x<sup>2</sup>+x-3=0 </strong></li>
                <li><strong>x<sup>2</sup>+8x+12=0 </strong></li>
                <li><strong>x<sup>2</sup>+12x+35=0 </strong></li>
                <li><strong>x<sup>2</sup>-3x+2=0 </strong></li>
            </ul>
        </div> 
      </section>

</main>